body {
    margin: 0;
    font-family: monospace;
}

header {
    height: 350px;
    /* background-color: rgb(2, 37, 151); */
    background: linear-gradient(to right, #4b79a1, #283e51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0
}

.container-headnav {
    margin: 0 auto;
    max-width: 900px;
    
   
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px 30px 30px 0px;
    font-size: 20px;
}

.profilePic {
    float: left;
    width: 320px;
    height: 280px;
}

.demo {
    color: rgb(175, 172, 172);
    margin-top: 20px;
    margin-bottom: 10px;
}

.demo li {
    margin: 20px 10px;
    font-size: 20px
}

.demo h1 {
    font-size: 30px;
}

.demo h2 {
    font-size: 25px;
}

